
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Best Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="Glyphicons icon" href="/static/img/glyphicons-halflings-white.png">
  </head>

  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href=".">Best Recipe</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- Read about Bootstrap dropdowns at http://twbs.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Recipes <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

          
    <!-- Carousel
    ================================================== -->

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
          
        <div class="item active">
          <img src="/static/img/slide-01.jpg" alt="">

          <div class="container">
            <div class="carousel-caption">
              <h1>Search By Ingredients</h1>
          
              <form class="form-search" action='results' method="GET" id="searchform">
                  <div class="row-fluid">
                          <div class="span4">
                        <input type="text" id= "addIngre" class="typeahead input-xlarge search-query" placeholder="Ingredients">
                        <button type ="button" id="addBtn" class="btn btn-primary">Add</button>                                
                        </div>
                        <div class="span7"><div id="ingreList"></div></div>
                  </div></br>
                    
                  <div class="row-fluid">
                        <div class="span3">
                            <p>Cook time: </p>
                            <select data-style="btn-primary" id='cooktime' form="searchform" name="cooktime">
                              <option value ="0"></option>
                              <option value ="20">Under 30min</option>
                              <option value="30">Under 1hr</option>
                              <option value="60">Under 2hr</option>
                              <option value="3600">Under 1day</option>
                            </select>
                        </div>
                        <div class="span3">
                            <p>Calories: </p>
                            <select data-style="btn-primary" id='calorie' form="searchform" name="calorie">
                              <option value ="0"></option>
                               <option value ="500">Under 500</option>
                              <option value ="1000">Under 1000</option>
                              <option value="1500">Under 1500</option>
                              <option value="2000">Under 2000</option>
                            </select>
                        </div>
                  </div>
                  <div id="hidden"></div>
                    
                  </br><button type="submit" class="btn btn-primary">Search</button>                
              </form>
            </div>
          </div>
        </div>
    

    
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->




      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider2">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/static/img/list-01.jpg">
        <h2 class="featurette-heading">Thousands of recipes aggregated from high quality food blogs <span class="muted"></span></h2>

      </div>



      <hr class="featurette-divider1">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="/static/js/typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    
  </body>
</html>

