
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Best Recipe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
      <link href="/static/css/nutrition.css" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="Glyphicons icon" href="/static/img/glyphicons-halflings-white.png">

  </head>

  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href=".">Best Recipe</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- Read about Bootstrap dropdowns at http://twbs.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Recipes <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider1">
      <div class="row">
      <div class="span1"></div>
      <div class="span11">
          <h2 class="featurette-heading">{{recipe.title}}</h2>
      <div class="row">
      <div class="span6">
      <h4 class="muted"> Approximately ready in {{recipe.cooktime}}&nbsp;{{timeunit}}&nbsp;<a href="{{recipe.URL}}" "OpenInNewTab(this.href);">(Blog from {{domain}})</a></h4>
      <img src="{{recipe.img}}" width="500px" height="500px">
      </div>
      <div class="span5">
     <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Ingredients" data-toggle="tab">Ingredients</a></li>
            <li><a href="#Nutrition" data-toggle="tab">Nutrition</a></li>
            <li><a href="#Instruction" data-toggle="tab">Instruction</a></li>
            <li><a href="#Summary" data-toggle="tab">Summary</a></li>
        </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="Ingredients">
        <h3 class="featurette-heading">Ingredients</h3>
        {% for line in recipe.ingredients %}
            <p>{{line}}</p>
        {% endfor %}
    </div>
    <div class="tab-pane" id="Nutrition">
     <section class="performance-facts">
  <header class="performance-facts__header">
    <h1 class="performance-facts__title">Nutrition Facts</h1>
  </header>
  <table class="performance-facts__table">
    <tbody>
      <tr>
        <th colspan="2">
          <b>Calories</b>
            {{recipe.nutrition.calories}}
        </th>
        <td>
          Calories from Fat {{recipe.nutrition.calories_from_fat}} mg
        </td>
      </tr>
      <tr class="thick-row">
        <td colspan="3" class="small-info">
          <b>% Daily Value*</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Total Fat</b>
            {{recipe.nutrition.total_fat}}g
        </th>
        <td>
          <b>{{percent.total_fat}}%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Saturated Fat
          {{recipe.nutrition.saturated_fat}}g
        </th>
        <td>
          <b>{{percent.saturated_fat}}%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Cholesterol</b>
          {{recipe.nutrition.cholesterol}}mg
        </th>
        <td>
          <b>{{percent.cholesterol}}%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Sodium</b>
          {{recipe.nutrition.sodium}}mg
        </th>
        <td>
          <b>{{percent.sodium}}%</b>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <b>Total Carbohydrate</b>
          {{recipe.nutrition.total_carbohydrate}}g
        </th>
        <td>
          <b>{{percent.total_carbohydrate}}%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Dietary Fiber
            {{recipe.nutrition.dietary_fiber}}g
        </th>
        <td>
          <b>{{percent.dietary_fiber}}%</b>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Sugars
          {{recipe.nutrition.sugars}}g
        </th>
        <td>
        </td>
      </tr>
      <tr class="thick-end">
        <th colspan="2">
          <b>Protein</b>
            {{recipe.nutrition.protein}}g
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
  
  <table class="performance-facts__table--grid">
  </table>
  
  <p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>
  
  <table class="performance-facts__table--small small-info">
    <thead>
      <tr>
        <td colspan="2"></td>
        <th>Calories:</th>
        <th>2,000</th>
        <th>2,500</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="2">Total Fat</th>
        <td>Less than</td>
        <td>65g</td>
        <td>80g</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th>Saturated Fat</th>
        <td>Less than</td>
        <td>20g</td>
        <td>25g</td>
      </tr>
      <tr>
        <th colspan="2">Cholesterol</th>
        <td>Less than</td>
        <td>300mg</td>
        <td>300 mg</td>
      </tr>
      <tr>
        <th colspan="2">Sodium</th>
        <td>Less than</td>
        <td>2,400mg</td>
        <td>2,400mg</td>
      </tr>
      <tr>
        <th colspan="3">Total Carbohydrate</th>
        <td>300g</td>
        <td>375g</td>
      </tr>
      <tr>
        <td class="blank-cell"></td>
        <th colspan="2">Dietary Fiber</th>
        <td>25g</td>
        <td>30g</td>
      </tr>
    </tbody>
  </table>
  
  <p class="small-info">
    Calories per gram:
  </p>
  <p class="small-info text-center">
    Fat 9
    &bull;
    Carbohydrate 4
    &bull;
    Protein 4
  </p>
  
</section>
    </div>
    <div class="tab-pane" id="Instruction">
        {% for line in recipe.instruction %}
            <p>{{line}}</p>
        {% endfor %} 
    </div>
    <div class="tab-pane" id="Summary">
        {% for line in recipe.summary %}
            <p>{{line}}</p>
        {% endfor %} 
    </div>
        
  </div>
</div>
</div>
</div>
</div>
</div>
      
      <!-- FOOTER 
      <footer>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container --> 
    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/typeahead.bundle.js"></script>
    <script src="/static/js/typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    
  </body>
</html>

